.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

main {
  background: darkblue;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form_container {
  display: flex;
  flex-direction: row;
}

.log-form_container{
  background: white;
  width: 30%;
  min-width: 300px;
  height: 100%;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-shadow: 3px 3px #282c34;
}

#main-title{
  margin: 50px auto;
  width: 50%;
  align-content: center;
  color: white;
  text-align: center;
}